<configuration>
    <connectionStrings>
        <add name="connl" connectionString="我最终 都会相见" providerName="abc"/>
        <add name="conntest" connectionString="3333" providerName="sqlserver"/>
    </connectionStrings>
    <appSettings>
        <add key="Config:name" value="cheung"/>
        <add key="Config:age" value="10"/>
        <add key="Config:proxy:address" value="六盘水"/>
        <add key="Config:proxy.port" value="233"/>
        <add key="Config:proxy:ids:0" value="888"/>
        <add key="Config:proxy:ids:1" value="999"/>
    </appSettings>
</configuration>

